{% extends "global/Page.html" %}
{% block content %}

<style>
  h2 {
    text-align: center;
    margin-bottom: 25px;
    color: #c82333;
  }
  p.intro {
        text-align: center;
        max-width: 700px;
        margin: 0 auto 20px auto;
        font-size: 1.1em;
        line-height: 1.5;
    }
  h6 { text-align: center; margin-bottom: 20px; font-size:22px; }
  .question-block { margin-bottom: 25px; }
  .slider-label { font-weight: bold; margin-bottom: 8px; }
  .scale-labels {
      display: flex;
      justify-content: space-between;
      font-size: 0.9em;
      margin-top: -8px;
  }
  .radio-block { margin-top: 25px; }
  #specify-field { display: none; margin-top: 10px; }
</style>

<h2> Part 2 - Page 3/6  </h2>




<p class="intro">For questions 1 and 2 below, please answer on a <b>scale from 0 to 10:</b> </p>
<p class="intro"> <b> 0 =  Not difficult at all </b> </p>
<p class="intro"> <b>10 =  Extremely difficult </b> </p>

<div class="question-block" >
  <b>1.</b> How difficult was it to <b>understand the different categories?</b>
  {{ formfield 'understanding_difficulty' }}
</div>

  <!-- Treatment 1 wording -->
  <div class="question-block" >
    <b>2.</b> How difficult was it to <b>think through how to allocate the payment</b> across the different categories (for example, remembering what you usually do, imagining future behavior, or making trade-offs)?
    {{ formfield 'mental_effort' }}
  </div>

  <div class="radio-block" >
    <b>3.</b>  Attention check: Please select “Slightly concerned” to continue.
    {{ formfield 'attention2' }}
  </div>

  <div class="radio-block" >
    <b>4.</b> Did the categories presented <b>cover all the ways</b> you and your household might <b>use this payment,</b> or were there expenses that you found <b> difficult to classify?</b>
    {{ formfield 'categories_cover' }}
  </div>


<div id="specify-field" >
  {{ formfield 'categories_specify' }}
</div>

<br>
<button class="btn btn-danger custom-submit" style="display: block; margin: 0 auto;">Submit</button>

<script>
document.addEventListener("DOMContentLoaded", function() {
  const radios = document.querySelectorAll("input[name=categories_cover]");
  const specifyDiv = document.getElementById("specify-field");

  radios.forEach(r => {
    r.addEventListener("change", function() {
      if (this.value === "1") {
        specifyDiv.style.display = "block";
      } else {
        specifyDiv.style.display = "none";
        document.querySelector("textarea[name=categories_specify]").value = "";
      }
    });
  });
});
</script>

{% endblock %}
