{% extends "global/Page.html" %}
{% block content %}

  <style>
    h2 {text-align: center;}
    p {text-align: justify; font-size:20px;}

    </style>



<div class="text-justify">

    <br>
<p>Now suppose that today you learn that you and your household will receive an unexpected one-time payment of <b>$1,000. </b>
    You can think of this payment as a government stimulus check, tax refund, bonus, inheritance, gift, or lottery win.
    This one-time payment, which will not be taxed, will be available on your bank account or as a check in your mailbox within a few days.</p>

<p> Consider ways in which you and your household could use this additional income over the <b> next three months </b> after you receive the payment: </p>

   <ul>
    <li style="font-size:20px;">
        <strong>Change in spending:</strong>  Change in the amount of nondurable goods
	(e.g., food, clothes, health and beauty products, vacation, entertainment),
	durable goods (e.g., vehicles, furniture, household appliances),
	and services (e.g., babysitting, house-cleaning, tutoring) that you purchase, compared to what you would have purchased without the payment.
    </li>
    <br>
    <li style="font-size:20px;">
        <strong>Change in debt repayment:</strong> Change in the amount you repay on revolving credit card debt, mortgages, student loans, auto loans, other loans, or unpaid bills (e.g., legal, medical, utilities), compared to what you would have repaid without the payment.
    </li>
</ul>

<br>

    <!--<p> We would like to understand how you and your household would allocate this one-time payment across these different categories in the next three months. </p>  -->
<p> Any amount you do not use in the next three months is considered <b>savings.</b> This money is set aside for future use, for instance by depositing it in checking, savings, or pension accounts, or by purchasing financial assets.</p>

    <br>
    <button class="btn btn-danger custom-submit" style="display: block; margin: 0 auto;">Next</button>

    </div>

{% endblock %}
