{% block content %}
    <style>
    h1 {text-align: center;}
    p {text-align: center;}
    h2 {
        text-align: center;
        margin-bottom: 25px;
        color: #c82333;
    }

    </style>

<h2>Part 2 - Page 5/5</h2>

 {% if new_debt > 0 %}
        <p style="font-weight: bold; font-size: 1.3em;">
            You indicated you took on ${{ new_debt }} in new debt because of the covid stimulus payment.
        </p>
        <p>
            Please report how you allocated these <b> ${{ new_debt }} </b> across the following categories:
        </p>
    {% elif new_debt < 0 %}
        <p style="font-weight: bold; font-size: 1.3em;">
            You indicated you took on ${{ abs_new_debt }} less in new debt because of the covid stimulus payment.
        </p>
        <p>
            Please report how this <b>reduction </b> was distributed across the following categories:
        </p>
    {% endif %}

    <table class="table table-striped">
        <tr><th>Category</th><th>Amount ($)</th></tr>
        <tr><td>{{ form.revolving_credit_new.label }}</td><td>{{ form.revolving_credit_new }}</td></tr>
        <tr><td>{{ form.mortgage_new.label }}</td><td>{{ form.mortgage_new }}</td></tr>
        <tr><td>{{ form.student_loans_new.label }}</td><td>{{ form.student_loans_new }}</td></tr>
        <tr><td>{{ form.auto_loans_new.label }}</td><td>{{ form.auto_loans_new }}</td></tr>
        <tr><td>{{ form.other_loans_new.label }}</td><td>{{ form.other_loans_new }}</td></tr>
        <tr><td>{{ form.unpaid_bills_new.label }}</td><td>{{ form.unpaid_bills_new }}</td></tr>
    </table>

<br>
     <button class="btn btn-danger" id='button1' style="margin-left: 75%; display: block;"> Submit </button>







{% endblock %}

