{% block content %}

<style>
    h2 { text-align: center; margin-bottom: 10px; color: #c82333; }
    h3 { text-align: center; margin-bottom: 20px; color: #c82333; }

    p.intro {
        text-align: justify;
        max-width: 700px;
        margin: 0 auto 25px auto;
        font-size: 1.1em;
        line-height: 1.5;
    }

    form {
        max-width: 700px;
        margin: 0 auto;
    }

    .form-section {
        margin-top: 18px;
        text-align: justify;
    }

    .form-section p {
        margin-bottom: 6px;
        font-size: 1.1em;
    }

    /* Centered blocks for assets & debts */
    .centered-options {
    margin-top: 10px;
    margin-bottom: 25px;
    }

    .centered-options .form-group {
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
    }

    .centered-options .form-check {
    display: flex;
    align-items: center;
    }

    .centered-options .form-check input {
    margin-right: 8px;
    }


    .btn-submit {
        display: block;
        margin: 35px auto 0 auto;
    }
</style>

<h2> Part 1 - Page 3/3 </h2>

<p class="intro">
    This last page is about your household’s <b>financial decisions and attitudes toward money</b>.
</p>

<form method="post">

    <!-- 1 -->
    <div class="form-section">
        <p><b>1.</b> How are <b>financial decisions</b> made in your household?</p>
        {% formfield player.financial_decision_making %}
    </div>


    <!-- 3 -->
    <div class="form-section">
        <p><b>2.</b> Who did the <b>last grocery shopping</b> for your household?</p>
        {% formfield player.grocery_shopping %}
    </div>

    <!-- 4 -->
    <div class="form-section">
        <p><b>3.</b> Who made the <b>last major purchase</b> (costing more than $1,000) for your household?</p>
        {% formfield player.major_purchase %}
    </div>

    <!-- 6 DEBTS -->
    <div class="form-section">
        <p><b>4.</b> Do you or your household currently owe the following types of <b>debts?</b></p>

        <div class="centered-options">
            {% formfield player.debt_credit_card %}
            {% formfield player.debt_installment %}
            {% formfield player.debt_bills %}
            {% formfield player.debt_loans %}
        </div>
    </div>

    <!-- 7 -->
    <div class="form-section">
        <p><b>5.</b> What is the <b>highest FICO credit score</b> in your household?</p>
        {% formfield player.fico_score %}
    </div>


    <!-- 9 -->
    <div class="form-section">
        <p><b>6.</b> <b>How often </b> are you able to pay the full required amount on your household’s <b>credit cards or other revolving credit?</b> </p>
        {% formfield player.credit_card_payment %}
    </div>

    <!-- 10 -->
    <div class="form-section">
        <p><b>7.</b> <b>How often </b> are you able to pay the full required amount on your household's <b>installment loans?</b> </p>
        {% formfield player.housing_payment %}
    </div>

     <!-- 8 -->
    <div class="form-section">
        <p><b>8.</b> How many of your <b>household’s bills</b> are usually overdue?</p>
        {% formfield player.bill_payment_ability %}
    </div>

    <!-- 11 -->
    <div class="form-section">
        <p><b>9.</b> Attention check: Please select “Agree” to continue.</p>
        {% formfield player.attention1 %}
    </div>

    <button class="btn btn-danger btn-submit" type="submit">
        Submit
    </button>

</form>

{% endblock %}
