{% block content %}

<style>
    h2 { text-align: center; margin-bottom: 10px; color: #c82333; }
    h3 { text-align: center; margin-bottom: 20px; color: #c82333; }

    p.intro {
        text-align: justify;
        max-width: 700px;
        margin: 0 auto 25px auto;
        font-size: 1.1em;
        line-height: 1.5;
    }

    form {
        max-width: 700px;
        margin: 0 auto;
    }

    .form-section {
        margin-top: 18px;
        text-align: justify;
    }

    .form-section p {
        margin-bottom: 6px;
        font-size: 1.1em;
    }

    /* Centered blocks for assets & debts */
    .centered-options {
    margin-top: 10px;
    margin-bottom: 25px;
    }

    .centered-options .form-group {
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
    }

    .centered-options .form-check {
    display: flex;
    align-items: center;
    }

    .centered-options .form-check input {
    margin-right: 8px;
    }


    .btn-submit {
        display: block;
        margin: 35px auto 0 auto;
    }
</style>

<h2> Part 1 - Page 3/3 </h2>
<!--
<p class="intro">
    This last page is about your household’s <b>financial decisions and attitudes toward money</b>.
</p>
-->
<form method="post">

    <!-- 1 -->
    <div class="form-section">
        <p><b>1.</b> How are <b>financial decisions</b> made in your household?</p>
        {% formfield player.financial_decision_making %}
    </div>






    <!-- 7 -->
    <div class="form-section">
        <p><b>2.</b> What is the <b>highest FICO credit score</b> in your household?</p>
        {% formfield player.fico_score %}
    </div>


    <!-- 9 -->
    <div class="form-section">
        <p><b>3.</b> How often  does your household pay  the <b>full  amount due</b> on its<b> credit cards or other revolving credit? </b> </p>
        {% formfield player.credit_card_payment %}
    </div>

    <!-- 10 -->
    <div class="form-section">
        <p><b>4.</b> How often  does your household  pay <b> the full amount due </b> on its <b>installment loans</b> (e.g., auto, student, or personal loans)? </p>
        {% formfield player.installment_payment %}
    </div>

     <!-- 10 -->
    <div class="form-section">
        <p><b>5.</b> How often  does your household    pay   the <b>full amount due</b> on its<b> payday or other short-term loans</b>? </p>
        {% formfield player.payday_payment %}
    </div>

     <!-- 8 -->
    <div class="form-section">
        <p><b>6.</b> How often does your household <b>pay its bills on time </b>?</p>
        {% formfield player.bill_payment_ability %}
    </div>

    <!-- 11 -->
    <div class="form-section">
        <p><b>7.</b> Attention check: Please select “Agree” to continue.</p>
        {% formfield player.attention1 %}
    </div>

    <button class="btn btn-danger btn-submit" type="submit">
        Submit
    </button>

</form>

{% endblock %}
